<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ernst & Young</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="home">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Department<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Development</a></li>
          <li><a href="#">Testing</a></li>
          <li><a href="#">Deployment</a></li>
        </ul>
      </li>
      <li><a routerLink="galary" >Galary</a></li>
      <li><a routerLink="dir" >DIRECTIVE</a></li>
      <li><a routerLink="bind" >Binding</a></li>
      <li><a routerLink="pipe" >PipeDemo</a></li>
      <li><a routerLink="forms" >Forms</a></li>
      <li><a routerLink="serv" >Service</a></li>
      <li><a routerLink="prod" >Products</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="signup" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="login" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
  
<div >
  
  <router-outlet></router-outlet>
  
</div>
