<div class="row">
    <div class="col-md-4">
        <h1> Hii</h1>
    </div>
    <div class="col-md-4" >
            <h1> Hello</h1>
    </div>
    <div class="col-md-4">
        <h1>Bye</h1>
    </div> 
</div>
<div class="row">
    <div class="col-md-4">
        <h1> Hii</h1>
    </div>
    <div class="col-md-4" >
            <h1> Hello</h1>
    </div>
    <div class="col-md-4">
        <h1>Bye</h1>
    </div> 
</div>
<div class="row">
    <div class="col-md-4">
        <h1> Hii</h1>
    </div>
    <div class="col-md-4" >
           <img src="../../assets/ey2.jpg" width="20%">
    </div>
    <div class="col-md-4">
        <h1>Bye</h1>
    </div> 
</div>

<div class="row">
    <div class="col-md-4">
        <h1> Hii</h1>
    </div>
    <div class="col-md-4" >
            <h1> Hello</h1>
    </div>
    <div class="col-md-4">
        <h1>Bye</h1>
    </div> 
</div>